// ***** Constants *****
// Colors
$black: #000;
$dark-gray: #444;
$medium-gray: #777;
$gray: #999;
$light-gray: #eee;
$white: #fff;
$orange: #f19c56;
$blue: #4c7d95; //#92b1c1;
$yellow: #ffC759;

$category-colors: (
  group0: #1f78b4,
  group1: #a6cee3,
  group2: #b2df8a,
  group3: #33a02c,
  group4: #fb9a99,
  group5: #e31a1c,
  group6: #fdbf6f,
  group7: #ff7f00,
  group8: #cab2d6,
  group9: #6a3d9a,
  group10: #6baed6,
  group11: #ffff99,
  group12: #b15928,
  group13: #1f78b4,
  group14: #a6cee3,
  group15: #b2df8a
);

$spending-colors: (
  group0: $blue,
  group1: #3182bd,
  group2: #6baed6,
  group3: #9ecae1,
  group4: #6baed6,
  group5: #3182bd,
  group6: $blue,
  group7: #3182bd,
  group8: #6baed6,
  group9: #9ecae1,
  group10: #6baed6,
  group11: #3182bd,
  group12: $blue,
  group13: #3182bd,
  group14: #6baed6,
  group15: #9ecae1,
);

$income-colors: (
  group0: $orange,
  group1: #fd8d3c,
  group2: #fdae6b,
  group3: #fdd0a2,
  group4: #fdae6b,
  group5: #fd8d3c,
  group6: $orange,
  group7: #fd8d3c,
  group8: #fdae6b,
  group9: #fdd0a2,
  group10: #fdae6b,
  group11: #fd8d3c,
  group12: $orange,
  group13: #fd8d3c,
  group14: #fdae6b,
  group15: #fdd0a2
);

// Dimensions
$header-height: 50px;
$header-logo-height: $header-height - 16px;
$header-btn-group-height: $header-height - 16px;
$header-h1-font-size: 1.5em;

// Misc
$font: 'Roboto', sans-serif;

// ***** General Style *****
* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow: hidden;
}

body {
  font-family: $font;
  margin: 0;
  padding: 0 50px;
}

button[disabled] {
  opacity: 0.5;
}

.btn {
  border: 1px solid $gray;
  background-color: #fff;
  outline: 0;

  &.selected {
    background-color: $light-gray;
  }
}

.btn-group {
  display: flex;

  > button {
    @extend .btn;
    height: inherit;
    padding: 7px;
    flex: 1;
  }

  > button:not(:last-child) {
    border-right: none;
  }
}

.panel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  max-width: 400px;
  width: 100%;
  border: 1px solid $gray;

  > .title {
    background-color: $light-gray;
    padding: 4px 10px;
    border-bottom: 1px solid $gray;
    color: $dark-gray;

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      font-size: 0.8em;
      margin: 0;
    }
  }

  > .content {
    padding: 4px 10px;
  }
}

.pull-right {
  float: right;
}

// ***** Header *****
header {
  height: $header-height;
  border-bottom: 1px solid $gray;

  > h1 {
    line-height: $header-height;
    margin: 0;
    color: $dark-gray;
    font-size: $header-h1-font-size;
    font-weight: normal;
    text-transform: uppercase;

    > img {
      height: $header-logo-height;
      margin: ($header-height - $header-logo-height) / 2 0;
      vertical-align: bottom
    }
  }

  > div {
    display: flex;
  }

  .btn-group {
    height: $header-btn-group-height;
    margin: ($header-height - $header-btn-group-height) / 2 0;

    &:not(:last-child) {
      margin-right: 10px;
    }

    button {
      flex-basis: 60px;
    }

    img {
      height: 100%;
    }
  }
}

// ***** Main *****
main {
  position: relative;
}

// ***** SVG *****
main > svg {
  width: 100%;
  height: calc(100vh - #{$header-height});

  text {
    font-size: .6em;
  }

  text::selection {
    background: none;
  }
}

.separator {
  stroke: $gray;
}

.polygons-group {
  .deficit {
    fill: $yellow;
  }

  .income {
    fill: $orange;
  }

  .square {
    stroke: $white;
    stroke-width: 0.6px;
  }

  .spending {
    fill: $blue;
  }
}

@each $name, $color in $income-colors {
  .#{$name} .income {
    fill: $color;
    transition: fill 0.5s ease-out;
  }
}

@each $name, $color in $spending-colors {
  .#{$name} .spending {
    fill: $color;
    transition: fill 0.5s ease-out;
  }
}

.polygons-group {
  .empty:not(.boundary) {
    fill: transparent;
    stroke: $gray;
  }

  .focused {
    fill: #aaa;
    transition: none;
  }

  .focused.selected {
    fill: #333;
  }

  .income.selected:not(.focused) {
    animation: new-income-animation 0.5s ease-out;
  }

  .spending.selected:not(.focused) {
    animation: new-spending-animation 0.5s ease-out;
  }

  .added {
    fill: #31a354;
  }

  .removed {
    fill: red;
  }

  &.drag .selected,
  .drag .selected {
    fill-opacity: 0.1;
  }

  &.hovered,
  .hovered {
    > .boundary,
    > * > .boundary {
      display: block;
      stroke-width: 2px;
    }

    > .boundary {
      stroke: #333;
    }

    > * > .boundary {
      stroke: #fff;
    }
  }
}

@keyframes new-income-animation {
  from {
    fill: #31a354;
  }

  to {
    fill: $orange;
  }
}

@keyframes new-spending-animation {
  from {
    fill: #31a354;
  }

  to {
    fill: $blue;
  }
}

.boundary {
  display: none;
  fill: none;
}

.element-tip,
.level-tip {
  padding: 6px;

  h1 {
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
  }

  p {
    margin: 0.7em 0 0;
    font-size: 0.7em;
  }
}

.level-tip {
  background: rgba($dark-gray, 0.8);

  &:after {
    color: rgba($dark-gray, 0.8);
  }
}


// TODO: Refactor below.

.amount {
  font-size: 0.7em;
  font-weight: bold;
}

.label {
  font-size: 0.65em;
}

.level-group {
  &:hover > line {
    stroke: $medium-gray;
    stroke-width: 2px;
  }

  > rect {
    fill: transparent;
  }

  > line {
    stroke: $gray;
  }
}


#element-tooltip,
#selection {
  pointer-events: none;
}


.element-label polygon,
.element-label line {
  fill: none;
  stroke: $black;
}

.element-label rect {
  fill: $black;
}

.element-light-label polygon,
.element-light-label line {
  fill: none;
  stroke: $dark-gray;
}

.element-light-label rect {
  fill: $dark-gray;
}

.element-label text,
.element-light-label text {
  fill: white;
  font-size: 0.75em;
}


.drag-hovered {
  animation: drag-hovered-animation ease-out .4s infinite;
  animation-direction: alternate;
}

@keyframes drag-hovered-animation {
  from {
    stroke-width: 1px;
  }

  to {
    stroke-width: 2px;
  }
}

.arc {
  opacity: 0.5;

  &.active {
    opacity: 1;
  }
}

/* Fill color for the first group */
.chart-color1 {
  fill: $blue;
}

/* Fill color for the second group */
.chart-color2 {
  fill: $orange;
}

/* Fill color for the needle */
.needle,
.needle-center {
  fill: #464A4F;
}

#budget-gauge-group {
  text {
    font-size: 0.9em;
    font-weight: bold;
  }
}
