* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0 50px;
}

button[disabled] {
  opacity: 0.5;
}

.btn, .btn-group > button {
  border: 1px solid #999;
  background-color: #fff;
  outline: 0;
}

.btn.selected, .btn-group > button.selected {
  background-color: #eee;
}

.btn-group {
  display: flex;
}

.btn-group > button {
  height: inherit;
  padding: 7px;
  flex: 1;
}

.btn-group > button:not(:last-child) {
  border-right: none;
}

.panel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  max-width: 400px;
  width: 100%;
  border: 1px solid #999;
}

.panel > .title {
  background-color: #eee;
  padding: 4px 10px;
  border-bottom: 1px solid #999;
  color: #444;
}

.panel > .title > h1,
.panel > .title > h2,
.panel > .title > h3,
.panel > .title > h4,
.panel > .title > h5,
.panel > .title > h6 {
  font-size: 0.8em;
  margin: 0;
}

.panel > .content {
  padding: 4px 10px;
}

.pull-right {
  float: right;
}

header {
  height: 50px;
  border-bottom: 1px solid #999;
}

header > h1 {
  line-height: 50px;
  margin: 0;
  color: #444;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}

header > h1 > img {
  height: 34px;
  margin: 8px 0;
  vertical-align: bottom;
}

header > div {
  display: flex;
}

header .btn-group {
  height: 34px;
  margin: 8px 0;
}

header .btn-group:not(:last-child) {
  margin-right: 10px;
}

header .btn-group button {
  flex-basis: 60px;
}

header .btn-group img {
  height: 100%;
}

main {
  position: relative;
}

main > svg {
  width: 100%;
  height: calc(100vh - 50px);
}
