// ***** Constants *****
// Colors
$black: #000;
$dark-gray: #444;
$medium-gray: #777;
$gray: #999;
$light-gray: #eee;
$white: #fff;
$orange: #f19c56;
$blue: #4c7d95;
$yellow: #ffc759;

// Dimensions
$header-height: 50px;
$header-logo-height: $header-height - 16px;
$header-btn-group-height: $header-height - 16px;
$header-h1-font-size: 1.5em;

// Misc
$font: 'Arial', sans-serif;

// ***** General Style *****
* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  font-family: $font;
  margin: 0;
  padding: 0 50px;
}

button[disabled] {
  opacity: 0.5;
}

.btn {
  border: 1px solid $gray;
  background-color: #fff;
  outline: 0;

  &.selected {
    background-color: $light-gray;
  }
}

.btn-group {
  display: flex;

  > button {
    @extend .btn;
    height: inherit;
    padding: 7px;
    flex: 1;
  }

  > button:not(:last-child) {
    border-right: none;
  }
}

.panel {
  position: fixed;
  bottom: 10px;
  left: 10px;
  max-width: 400px;
  width: 100%;
  border: 1px solid $gray;

  > .title {
    background-color: $light-gray;
    padding: 4px 10px;
    border-bottom: 1px solid $gray;
    color: $dark-gray;

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      font-size: 0.8em;
      margin: 0;
    }
  }

  > .content {
    padding: 4px 10px;
  }
}

.pull-right {
  float: right;
}

// ***** Header *****
header {
  height: $header-height;
  border-bottom: 1px solid $gray;

  > h1 {
    line-height: $header-height;
    margin: 0;
    color: $dark-gray;
    font-size: $header-h1-font-size;
    font-weight: normal;
    text-transform: uppercase;

    > img {
      height: $header-logo-height;
      margin: ($header-height - $header-logo-height) / 2 0;
      vertical-align: bottom
    }
  }

  > div {
    display: flex;
  }

  .btn-group {
    height: $header-btn-group-height;
    margin: ($header-height - $header-btn-group-height) / 2 0;

    &:not(:last-child) {
      margin-right: 10px;
    }

    button {
      flex-basis: 60px;
    }

    img {
      height: 100%;
    }
  }
}

// ***** Main *****
main {
  position: relative;
}

aside {
  position: absolute;
  right: 0;
  bottom: 25px;
  text-align: left;
  font-size: 0.8em;
}

// ***** SVG *****
main > svg {
  width: 100%;
  height: calc(100vh - #{$header-height});
}

.budget-visualization {
  text {
    font-size: 15px;
  }

  .element-amount {
    font-size: 15px;
  }

  .element-name {
    font-size: 13px;
  }

  .boundary {
    stroke-width: 2px;
  }

  &:not(.disabled) .level-group:hover > line {
    stroke-width: 2px;
  }
}
