/* ===== General ===== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

h1 {
  text-transform: uppercase;
}

p,
figcaption {
  line-height: 1.2em;
  text-align: justify;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}

.content {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  clear: both;
}

.btn {
  padding: 12px 20px;
  margin-top: 1.5em;
  border: 1px solid #ccc;
  color: white;
  background-color: #45a146;
  font-size: 0.95em;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity ease-out 0.2s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.pull-right {
  float: right;
}

/* ===== Header ===== */
header {
  padding: 0 1em;
  margin-bottom: 2em;
  border-bottom: 2px solid #ccc;
}

header h1 {
  margin-bottom: 0;
  color: #333;
}

header h2 {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: normal;
  color: #555;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul > li {
  display: inline-block;
}

nav ul > li:not(:last-child) {
  margin-right: 1em;
}

nav a {
  line-height: 2em;
  color: #666;
  font-size: 0.95em;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #333;
}


/* ===== Main Content ===== */
main {
  margin-bottom: 2em;
}

main article {
  max-width: 100%;
  padding: 0 1em;
  margin-bottom: 1em;
  color: #444;
  flex-basis: 100%;
}

main article > h1 {
  padding-bottom: 0.25em;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 1.1em;
}

.teaser {
  margin-bottom: 2em;
  text-align: center;
}

.teaser figure {
  margin: 0;
}

.teaser img {
  width: 100%;
  margin-bottom: 1em;
}

.team {
  display: flex;
  padding: 0;
  margin-top: 2em;
  font-size: 0.9em;
  text-align: center;
}

.team li {
  list-style: none;
  flex: 1;
}

.team li:hover {
  opacity: 0.8;
  transition: all 0.2s ease-out;
}

.team li a {
  color: inherit;
  text-decoration: none;
}

.team li img {
  width: 150px;
  height: 150px;
  margin-bottom: 0.5em;
  border: 1px solid #444;
  border-radius: 50%;
  filter: grayscale(100%);
  object-fit: cover;
  object-position: 50% 50%;
}

.team li strong {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* ===== Footer ===== */
footer {
  min-height: 60px;
  padding: 0 1em;
  margin-bottom: 2em;
  border-top: 2px solid #ccc;
  color: #444;
}
